JWT_PRIVATE_KEY=

PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGUSER=
PGPASSWORD=

API_USERNAME=
API_PASSWORD=
API_URL=
TEST_CLIENT_PORT=3050

SMTP_SERVER=
SMTP_LOGIN=
SMTP_PASSWORD=
SMTP_FROM_NAME=
SMTP_FROM_EMAIL=